<!DOCTYPE html>
<html lang="en" ng-app="vault">
<head>
    <title>Vault Dragon</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/bower_components/ngToast/dist/ngToast.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<toast></toast>
<div ng-view></div>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/ngToast/dist/ngToast.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>
